<launch>

    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="burger" /> </include>
    <!-- Launch RViz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find autonomous_navigation)/config/challenge_reactive.rviz"/>
    <node name="TurtlebotController" pkg="autonomous_navigation" type="robot_controller.py" output="screen"/>

</launch>
